.admin-contrasena-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.titulo-admin-contrasena {
  text-align: center;
  color: #b6ed0d;
  font-size: clamp(2rem, 10vw + 2rem, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario-admin-contrasena {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.formulario-admin-contrasena input {
  border: none;
  width: 100%;
  padding: 0.25rem;
  background-color: #2589b6;
  font-size: clamp(2rem, 10vw + 2rem, 2rem);
  text-align: center;
  border-radius: 12px;
  color: #fff;
  box-sizing: border-box;
}

.formulario-admin-contrasena input::placeholder {
  color: #000;
}

.btn-admin-contrasena {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-admin-contrasena i {
  color: fuchsia;
  font-size: clamp(2rem, 10vw + 2rem, 3rem);
  transition: transform 0.3s ease;
}

.btn-admin-contrasena:hover i {
  transform: scale(1.2);
}

.volver-login-admin {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
}

.volver-login-admin a {
  font-size: clamp(1rem, 8vw + 1rem, 2rem);
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

.volver-login-admin a:hover {
  color: #cf47b3;
  transform: scale(1.2);
}
