/* ===========================
CONTENEDOR PRINCIPAL
=========================== */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* ===========================
TÍTULO LOGIN
=========================== */

.titulo-login {
  text-align: center;
  color: #b6ed0d;
  font-size: clamp(2rem, 10vw + 2rem, 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===========================
FORMULARIO LOGIN
=========================== */

.formulario-login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.formulario-login input {
  border: none;
  width: 100%;
  padding: 0.25rem;
  background-color: #2589b6;
  font-size: clamp(2rem, 10vw + 2rem, 2rem);
  text-align: center;
  border-radius: 12px;
  color: #fff;
  box-sizing: border-box;
}

.formulario-login input::placeholder {
  color: #000;
}

/* ===========================
BOTÓN LOGIN
=========================== */

.btn-login {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-login i {
  color: fuchsia;
  font-size: clamp(2rem, 10vw + 2rem, 3rem);
  transition: transform 0.3s ease;
}

.btn-login:hover i {
  transform: scale(1.2);
}

/* ===========================
OLVIDÉ CONTRASEÑA
=========================== */

.olvide-contraseña {
  width: 100%;
  text-align: right;
  padding-right: 3rem;
}

.olvide-contraseña a {
  font-size: clamp(1rem, 8vw + 1rem, 2rem);
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
}

.olvide-contraseña a:hover {
  color: #cf47b3;
  transform: scale(1.2);
}

/* ===========================
CREAR CUENTA
=========================== */

.crear-cuenta {
  text-align: center;
  margin-top: 1rem;
}

.cuenta {
  color: #fff;
  font-size: clamp(1rem, 6vw + 1rem, 2rem);
}

.link-registro {
  color: #fff;
  font-size: clamp(1rem, 6vw + 1rem, 2.5rem);
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-registro:hover {
  color: #cf47b3;
}
